:root {
    --primary-color: #d3d3d3;
    --secondary-color: #0a2239;
    --accent-color: #eeeeee;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--primary-color);
    color: #333;
    line-height: 1.6;
}

/* Chrome, Safari, Edge Chromium, Opera */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
body {
  scrollbar-width: none; 
  -moz-scrollbars-none: true;
  overflow-x: hidden;
}

/* Internet Explorer y Edge Legacy */
body {
  -ms-overflow-style: none;
}

/* ============= CELULARES ============= */


/* =============NAVEGACION CELULARES============= */
header {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.blur-activo {
    transition: background 0.6s ease, backdrop-filter 0.6s ease;
}

.blur {
    transition: background 0.6s ease, backdrop-filter 0.6s ease;
}

.blur {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
    }

    .blur-activo {
        background: rgba(0, 0, 0, 0.233);
        backdrop-filter: blur(5px);
        z-index: 900;
        transition: background 0.6s ease, backdrop-filter 0.6s ease;
    }

    .blur-posicion {
        width: 100vw;
        height: 100vh;
        transition: background 0.6s ease, backdrop-filter 0.6s ease;

    }

.nav {
    position: fixed;
    top: 0;
    left: -101vw;
    background-color: #000000;
    height: 100vh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    justify-content: space-between;
    z-index: 1000;
    transition: all 0.5s ease;
}

.nav_menu {
    width: 100%;
}

.nav_menu a {
    display: block;
}

.nav_menu a span {
  transition: font-size 0.3s ease;
}

.nav_menu a:hover span {
  font-size: 5rem;
}

.menu_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.nav-activo {
    position: fixed;
    left: 0;
    transition: all 0.5s ease;
}

.nav_menu a {
    color: #fff;
    text-decoration: none;
    padding: 15px 0 15px 4rem;
    font-weight: bold;
    font-size: 2.5rem;
}

.nav_menu a:hover {
    background-color: #e9e9e9;
    color: #000;
}

 .nav_menu a:nth-child(1){
    transform: translateX(-80%);
    opacity: 0;
    transition: transform .8s, opacity 1s;
    transition-delay: .2s;
}

.nav-activo .nav_menu a:nth-child(1) {
    transform: translateX(0);
    opacity: 1;
}

.nav_menu a:nth-child(2){
    transform: translateX(-90%);
    opacity: 0;
    transition: transform .8s, opacity 1s;
    transition-delay: .4s;
}

.nav-activo .nav_menu a:nth-child(2) {
    transform: translateX(0);
    opacity: 1;
}

.nav_menu a:nth-child(3){
    transform: translateX(-90%);
    opacity: 0;
    transition: transform .8s, opacity 1s;
    transition-delay: .6s;
}

.nav-activo .nav_menu a:nth-child(3) {
    transform: translateX(0);
    opacity: 1;
}

.nav_menu a:nth-child(4){
    transform: translateX(-100%);
    opacity: 0;
    transition: transform .8s, opacity .5s;
    transition-delay: .9s;
}

.nav-activo .nav_menu a:nth-child(4) {
    transform: translateX(0);
    opacity: 1;
} 

@keyframes itemMenu {
    
}
/* ============= HAMBURGUESA ============= */

.burger {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    z-index: 800;
    border: 1px solid #000;
    border-radius: 50%;
    padding: 0.5rem;
    transition: opacity .4s ease, border .1s ease;
}

/*========btn de cerrar==========*/

.close_button {
    position: relative;
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    z-index: 1100;
    border: 1px solid #e9e9e9;
    border-radius: 50%;
    padding: 0.5rem;
    transition: all 1s ease;
    animation: girar 8s infinite;
}

.close_button .line1 {
    background-color: #e9e9e9;
    transform: rotate(45deg) translate(5px, 5px);
}

.close_button .line2 {
    background-color: #e9e9e9;
    transform: rotate(-45deg) translate(5px, -5px);
}

@keyframes girar {
    0% {
        transform: rotate(360deg);
    }
    20% {
        transform: rotate(0deg);
    }

    21% {
        transform: rotate(0deg);
    }
}
/* ============= LINEAS DE LA HAMBURGUESA ============= */

.line1, .line2, .line3 {
    width: 100%;
    height: 1px;
    background-color: #000;
    transition: all 0.7s ease;
}

.burger-activo {
    justify-content: space-evenly;
    border: 1px solid #e9e9e9;
    opacity: 0;
    }

.burger-activo .line1 {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: #e9e9e9;
}

.burger-activo .line2 {
    opacity: 0;
}

.burger-activo .line3 {
    transform: rotate(-45deg) translate(5px, -5px);
    background-color: #e9e9e9;
}

/*========diamante==========*/

.doom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
    max-width: 55px;
    transform: scale(0.8);
}

.fila {
  display: flex;
    justify-content: center;
  gap: 1px;
}

.fila .diamante {
    margin: 4px;
}
.diamante {
    background: #ccc;
    text-align: center;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    border-radius: 3px;
    border: 1px solid #ccc;
}

.diamante:nth-child(3) {
    opacity: 1;
    transform: translate(-.5px, -8px) rotate(45deg);
    background: transparent;
    border: 1px solid #ccc;
    animation: parpadear 10s linear infinite;
}

.diamante1 {
    transform: translate(-.3px, 9px) rotate(45deg);
}

@keyframes parpadear {
  0% {
    opacity: 1;
  }
  2% {
    opacity: 0;
  }

    4% {
        opacity: 1;
    }

    6% {
        opacity: 0;
    }

    8% {
        opacity: 1;
    }

    10% {
        opacity: 0;
    }

    12% {
        opacity: 1;
    }

    14% {
        opacity: 0;
    }

    58% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }
}


/* ============= Redes menú ============= */

.redes {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    width: 50px;
}

.redes img {
    width: 30px;
}


/*==========main=========*/

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

h1 {
    margin: 1.5rem 0 0 1rem;
    color: var(--secondary-color);
    margin-left: 5%;
}

.main > :nth-child(1) {
    order: 5;
}

.foto-perfil {
    width: 90vw;
    margin: 0 auto;
    margin-top: 3rem;
    overflow: hidden;
    display: flex;
    justify-content: end;
    background: linear-gradient(0deg, #b1b2b5);
    position: relative;
}

.foto-perfil img {
    width: 100%;
    object-fit: cover;
}

.presentacion p {
    max-width: 85%;
    font-size: 1.2rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.btn-inicio {
    background-color: var(--secondary-color);
    color: #e9e9e9;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 10px 20px;
    width: 250px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.btn-inicio:hover {
    background-color: #e9e9e9;
    color: var(--secondary-color);
}

a {
    text-decoration: none;
}

.circulo-btn {
    background-color: #e9e9e9;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.circulo-btn img {
    width: 80%;
    animation: enviarForm 3s infinite;
}


/*==========tecnologias=========*/

.tecnologias {
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tec {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
}

.tec-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
}

.tec-info img {
    width: 40px;
    height: 40px;
}

.barra {
    width: 20px;
    height: 100%;
    margin: 0 auto;
    border: solid 1px #000;
    padding: 3px;
    position: relative;
    display: flex;
    align-items: flex-end;
}
/* 
.meta {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid #000;
}

.equis {
    width: 1px;
    height: 150%;
    background-color: #000;
}
.equis:first-child {
    transform: rotate(45deg);
}
.equis:last-child {
    transform: rotate(-45deg);
} */

.progreso {
    width: 100%;
    height: 80%;
    background-color: var(--secondary-color);
    transition: height 2s ease;
    position: relative;
    animation: moverAltura 2s infinite;
}

.tec:nth-child(1) .progreso {
    height: 98%;
  animation-delay: 0s;
}
.tec:nth-child(2) .progreso {
    height: 85%;
  animation-delay: 0.6s;
}
.tec:nth-child(3) .progreso {
    height: 50%;
  animation: moverAltura3 2s infinite;
}
.tec:nth-child(4) .progreso {
    height: 70%;
  animation-delay: 1.8s;
}

@keyframes moverAltura {
  0% {
    height: 85%;
  }
  10% {
    height: 83%;
  }
    15% {
        height: 90%;
    }

    20% {
        height: 82%;
    }
}

@keyframes moverAltura3 {
  0% {
    height: 50%;
  }
  10% {
    height: 45%;
  }

    15% {
        height: 55%;
    }

    20% {
        height: 48%;
    }
}
/*==========PROYECTOS=========*/

h2 {
    margin-left: 5%;
    font-weight: bolder;
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.linea-ancha {
    width: 90%;
    height: 2px;
    background-color: var(--secondary-color);
    margin: 1rem auto;
}

.proyectos {
    display: flex;
    flex-direction: column;
}

.proyecto {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    padding: 3rem 1rem 0 1rem;
    position: relative;
}

.titulo-proyecto {
    font-size: 2rem;
    font-weight: bolder;
    margin: 1rem 0;
    color: var(--secondary-color);
    position: relative;
}

.titulo-proyecto {
    padding-right: 10%;
}

.link {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    animation: salto-link 3s infinite;
}

.link img {
    height: 100%;
    max-height: 50px;
}

.imagen-proy {
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
}

@keyframes salto-link {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(4px, -4px);
  }
  15% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(2px, -2px);
  }
  25% {
    transform: translate(0, 0);
  }
}

.ver-mas {
    background-color: transparent;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto 0 auto;
}

.ver-mas:hover {
    background-color: var(--secondary-color);
    color: #e9e9e9;
}

/*==========MODAL PROYECTOS=========*/

.icon-scroll {
    display: none;
}

h5 {
    font-size: 1rem;
    font-weight: bolder;
    margin: 0.5rem 0;
    color: var(--secondary-color);
}

h5 span {
    font-weight: normal;
    margin-left: 0.5rem;
}

.mod-des {
    margin: 1rem 0;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--secondary-color);
}

.modal-detalles {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 950;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 1rem;
    transition: bottom 0.5s ease;
}

.modal-activo {
    bottom: 0;
    transition: bottom 0.5s ease;
}

.modal-detalles .titulo-proyecto {
    width: 100%;
}

.modal-close-area {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--accent-color);
    bottom: 0;
    padding: 1rem;
}

.modal-detalles .close_button {
    border: var(--secondary-color) 1px solid;
}

.modal-detalles .close_button .line1,
.modal-detalles .close_button .line2 {
    background-color: var(--secondary-color);
}

.modal-contenido {
    padding: 2rem;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    position: relative;
    max-height: 500px;
    overflow-y: auto;  
    padding: 1rem;
}

.modal-galeria img {
    width: 100%;
    margin-bottom: 1rem;
}

.cerrar-modal {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/*==========CONTACTO=========*/



.contacto {
    padding: 2rem 0;
    padding-top: 0;
    overflow: hidden !important;
    position: relative;
}

.contacto h2 {
    font-weight: bolder;
    font-size: 2rem;
    color: var(--secondary-color);
}

.form-contacto {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 10rem auto;
    position: relative;
    overflow: hidden;
}
.form-contacto label {
    color: transparent;
}

.form-contacto input, .form-contacto textarea {
    width: 90%;
    margin: 0 auto;
    background-color: transparent;
    padding: 10px;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    font-size: 1rem;
}

input:-webkit-autofill {
  background-color: var(--primary-color) !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--primary-color) inset !important;
  -webkit-text-fill-color: #000 !important;
}

input:focus,
button:focus,
a:focus, textarea:focus {
  outline: none;
  box-shadow: none;
}

form button {
    width: 20px;
    background-color: transparent;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-enviar{
    width: 30px;
    cursor: pointer;
}

.btn-enviar img{
    width: 100%;
}


@keyframes enviarForm {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(5px, 0);
  }
  15% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(2px, 0);
  }
  25% {
    transform: translate(0, 0);
  }
}

.confirmacion {
    position: absolute;
    color: var(--secondary-color);
    font-size: 10rem;
    font-weight: bolder;
    transition: opacity 0.5s ease;
    z-index: 100;
    transition: right 0.5s ease, left 0.5s ease;
}

.confirmacion1 {
    top: 5%;
    left: -830px;
}

.confirmacion2 {
    bottom: 0;
    right: -815px;
}

@keyframes confir1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(calc(830px + 100vw), 0);
  }
}

@keyframes confir2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(calc(-815px - 100vw), 0);
  }
  }


/*==========INPUTS=========*/

.estado-form {
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.cont-estado {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.estado {
    width: 20px;
    height: 20px;
    border: 1px solid var(--secondary-color);
    display: flex;
    position: relative;
    margin: 1rem;
    border: none;
    transform: scale(.5);
    animation: respirar 5s infinite;
    transition: all 0.6s ease;
    cursor: pointer;
}

.estado div {
    width: 2px;
    height: 10px;
    background-color: var(--secondary-color);
    position: absolute;
    transition: all 0.6s ease;
}

.estado div:first-child {
    transform: rotate(45deg);
    top: -10px;
    right: -5px;
}

.estado div:last-child {
    transform: rotate(45deg);
    bottom: -9px;
    left: -4px;
}

.estado div:nth-child(2) {
    transform: rotate(-45deg);
    bottom: -9px;
    right: -4px;
}

.estado div:nth-child(3) {
    transform: rotate(-45deg);
    top: -9px;
    left: -4px;
}

@keyframes respirar {
    0% {
        transform: scale(.5);
        opacity: 1;
    }
    50% {
        transform: scale(.8);
        opacity: 0.7;
    }
    100% {
        transform: scale(.5);
        opacity: 1;
    }
}

.estado-activo {
    width: 20px;
    height: 20px;
    border: 1px solid var(--secondary-color);
    display: flex;
    position: relative;
    margin: 1rem;
    transform: scale(.5);
    animation: none;
    justify-content: space-around;
    align-items: center;
    transform: scale(1.4);
}

.estado-activo div {
    width: 1px;
    position: relative;
    height: 100%;
    top: auto !important;
}

.estado-activo div:nth-child(2), .estado-activo div:last-child {
    display: none;
}
/*==========FOOTER=========*/

footer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
    overflow: hidden;
}

.titulo-footer {
    font-size: 4rem;
    font-weight: bolder;
    margin-bottom: 1rem;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -15px;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%) translateX(-65%);
    text-transform: uppercase;
    background-color: var(--secondary-color);
}

.menu-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    text-decoration: none;
    margin-bottom: 1rem;
    margin-top: 4rem;
}

.menu-footer a span {
    transition: font-size 0.3s ease;
}

.menu-footer a:hover span{
    font-size: 1.5rem;
}

.menu-footer a {
    color: #e9e9e9;
    font-weight: bold;
    font-size: 1.2rem;
}

footer p:nth-child(3) {
    order: 5;
    margin-top: 1rem;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
}

.redes-sociales a:hover img {
    transform: scale(1.2);
}

.redes-sociales img {
    width: 30px;
    transition: transform 0.3s ease;
}

.copyright {
    font-size: 0.7rem;
}

.loader {
    transform: scale(4);
  width: 100%;
  height: 12px;
  --c:var(--primary-color) 50%,#0000 0;
  background: 
    linear-gradient(90deg ,var(--c)) 0 0%,
    linear-gradient(-90deg,var(--c)) 0 50%,
    linear-gradient(90deg ,var(--c)) 0 100%;
  background-size: 8px calc(100%/3);
  background-repeat: repeat-x;
  animation: l8 2s infinite linear;
}
@keyframes l8 {
    100% {background-position: 8px 0%,8px 50%,8px 100%}
}

@media (max-width: 340px) {
    .foto-perfil {
        width: 60vw;
    }

    .tec {
        width: 70px;
    }

    .tec-info img {
        width: 30px;
        height: 30px;
    }

    .tec-info p {
        font-size: 0.8rem;
    }

}

@media (min-width: 768px) {

    h1 {
        position: absolute;
        top: 2rem;
        left: 3rem;
        font-size: 8rem;
    }

    h2 {
        font-size: 5rem;
    }

    .burger {
        z-index: 1000;
    }

    .burger-activo {
        border: 1px solid #000;
        opacity: 1;
        animation: girar 8s infinite;
        }

    .burger-activo .line1 {
        background-color: #000;
    }

    .burger-activo .line2 {
        opacity: 0;
    }

    .burger-activo .line3 {
        background-color: #000;
    }

    
    .close-menu {
        display: none;
    }

    .blur {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
    }

    .blur-activo {
        background: rgba(0, 0, 0, 0.233);
        backdrop-filter: blur(5px);
        z-index: 900;
        transition: background 0.6s ease, backdrop-filter 0.6s ease;
    }

    .blur-posicion {
        width: 100vw;
        height: 100vh;
    }

    .nav {
        width: 40vw;
        padding: 0;
    }

    .nav a {
        font-size: 2.5rem;
    }

    .foto-perfil {
        width: 25vw;
        margin-top: 0;
        margin-left: 15%;
    }

    .main > :nth-child(1) {
        order: 0;
    }

    .main {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 3rem;
    }

    .presentacion {
        width: 30%;
        text-align: left;
    }

    .tecnologias {
        flex-direction: column;
        align-items: flex-end;
        width: 10%;
    }

    .tec {
        height: 100px;
    }

     .proyecto {
        display: flex;
        padding: 0 5%;
        height: 270px;    
    }

    .imagen-proy {
        width: 40%;
        max-height: 100%;
        max-width: max-content;
        margin: 0;
        margin-top: 1rem;
        position: absolute;
        right: 15%;
    }

    .titulo-proyecto {
        font-size: 3rem;
        order: -1;
        line-height: 1;
}

    .link {
        height: 50px;
    }
    .ver-mas {
        font-size: 1.2rem;
        width: 200px;
        margin: 0;
        margin-top: auto;
    }


}


@media (min-width: 1280px) {

    .main {
        padding-right: 0;
    }
    
    h1 {
        font-size: 6rem;
        margin-left: 5%;
        top: 0;
    }

    .foto-perfil {
        width: 28vw;
        margin-left: 0%;
    }

    .presentacion {
        width: 45%;
    }

        .modal-contenido {
        width: auto;
        max-width: 50%;
        margin-right: 10%;
        overflow: auto;
        display: flex;

    }

    .modal-detalles {
        height: 80vh;
        align-items: end;
    }

    .mod-txt {
        position: fixed;
        left: 3rem;
        width: 25%;
    }

    .modal-contenido .modal-galeria {
        width: 100%;
        
        display: flex;
        flex-wrap: wrap;
    }

    .modal-contenido .modal-galeria img {
        height: 300px;
        width: auto;
        margin-right: 1%;
    }

    .icon-scroll {
  position: absolute;
    right: 5%;
}

    .icon-scroll::before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
    display: block;
    width: 40px;
    height: 70px;
    margin-left: -20px;
    top: 50%;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1px var(--secondary-color);
    border-radius: 25px;
}

.icon-scroll::before {
  content: '';
  width: 8px;
  height: 8px;
  background: var(--secondary-color);
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0;
    transform: translateY(46px);
  }

    100% {
        opacity: 0;
        transform: translateY(46px);
}


}
}


@media (min-width: 1440px) {

    h1 {
        font-size: 6rem;
        top: 4rem;
    }

    .foto-perfil {
        width: 30vw;
    }

    .nav a {
        font-size: 4rem;
    }

    .presentacion {
        width: 35%;
    }
}




.perfil1 {
    position: absolute;
    opacity: 1;
    animation: aparecer 10s infinite;
}

.perfil2 {
    position: absolute;
    opacity: 0;
    bottom: 0;
}

.perfil3 {
    position: relative;
    opacity: 1;
}

.foto-perfil:hover .perfil1 {
    animation: none;
}

.foto-perfil:hover .perfil3 {
    opacity: .8;
}

@keyframes aparecer {
    0% {
        opacity: 1;
    }
    1% {
        opacity: 0;
    }
    85% {
        opacity: 0;
    }
    86% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}